/* https://developers.google.com/cast/docs/styled_receiver */

body {
    --font-family: "Google Sans";
  }
  
.background {
    background: center no-repeat url(assets/background.png);
  }
  
  .logo {
    background-image: url(assets/logo.png);
  }
  
  .progressBar {
    background-color: rgb(218, 218, 218);
  }
  
  .splash {
    background-image: url(assets/splash.png);
  }
  
  .watermark {
    background-image: url(assets/watermark.png);
    background-size: 57px 57px;
  }